- form_remote_tag :url => "/profile_items/update/#{description.id}" , :update =>"profile-item-#{description.id}" do
  %label
    Description 
  = text_field_tag 'content', "#{description.content.to_s}", :size => 20
  = image_submit_tag("has_profile_items/profile_item_save.png")